langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.35
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
qdrant-client==1.8.2
uvicorn==0.29.0
fastapi==0.110.0
python-dotenv==1.0.1
langchainhub==0.1.15